@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=PT+Mono&display=swap');

textarea{
  height: auto;
  min-height: 400px;
}

#editor-header{
  padding: 12px;
  background-color: #C35C2F;
  width: 100%;
}

#preview-header{
  padding: 12px;
  background-color: #B68567;
  width: 100%;
}

.editor-back{
  border: 12px solid #FFECBC;
}

h4{
  font-family: 'Comic Neue', cursive;
  color: #FFECBC;
}

#editor {
  font-family: 'PT Mono', monospace;
}